[submodule "src/libev"]
	path = subprojects/libev
#	url = git://git.lighttpd.net/libev.git
	url = .
[submodule "benchmarks/tacle-bench"]
	path = benchmarks/tacle-bench
#	url = https://github.com/tacle/tacle-bench
	url = .
[submodule "benchmarks/coremark"]
	path = benchmarks/coremark
#	url = https://github.com/eembc/coremark.git
	url = .
[submodule "benchmarks/coremark-pro"]
	path = benchmarks/coremark-pro
#	url = https://github.com/eembc/coremark-pro.git
	url = .
[submodule "benchmarks/tinyrenderer"]
	path = benchmarks/tinyrenderer
#	url = https://github.com/ssloy/tinyrenderer
	url = .
